*{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-style: hidden;
}

input{
  outline-color: hsl(159, 36%, 49%);
  border-color: hsl(120, 95%, 41%);
  border-radius: 5px;
  border-width: 1px;
  outline-width: 1px;
}
div > button {
  background-color: hsl(159, 36%, 49%);
  color: hsl(0, 0%, 100%);
  border-radius: 5px;
  border: none;
}
div button:hover{
  background-color: hsl(159, 36%, 41%);
}
.statusdrop{
  border-radius: 5px;
  background-color: hsl(39, 100%, 50%);
  color: #fff;
}
.statuscheck{
  margin-right: 10px;
}
